* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-img {
    background-image: url(images/food1.jpg);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
}